<ul class="nav nav-tabs nav-stacked">
    <li><a href="{{ path('amicale_administration_show', {'entity': 'Categorie'}) }}">Catégories</a></li>
    <li><a href="{{ path('amicale_administration_show', {'entity': 'TypeProduit'}) }}">Type produit</a></li>
    <li><a href="{{ path('amicale_administration_show', {'entity': 'Produit'}) }}">Produits</a></li>
    <li><a href="{{ path('amicale_administration_show', {'entity': 'StatutCommande'}) }}">Statuts commande</a></li>
    <li><a href="{{ path('amicale_administration_show', {'entity': 'Commercant'}) }}">Commerçants</a></li>
    <li><a href="{{ path('amicale_administration_show', {'entity': 'Evenement'}) }}">Événements</a></li>
</ul>
