<div class="span9">
    <table class="table table-striped paginated text-center">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Titre</th>
                <th>Type</th>
                <th>Modifier / Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for produit in entities %}
                <tr>
                    <td class="photo"><img
                            src="{{ asset(produit.photoPath) }}"
                            alt="{{ produit.photoAlt }}"
                          />
                    </td>
                    <td>{{ produit.titre }}</td>
                    <td>{{ produit.typeproduit }}</td>
                    <td>                        
                        <a class="edit" data-url="{{ path('amicale_administration_edit', {'entity' : entity, 'id': produit.id}) }}" href="#">
                            <img src="{{ asset('bundles/amicaleaccueil/images/modifier.png') }}" alt="modifier" />
                        </a>
                        &nbsp;/&nbsp;
                        <a class="delete" data-url="{{ path('amicale_administration_delete', {'entity' : entity, 'id': produit.id}) }}" href="#">
                            <img src="{{ asset('bundles/amicaleaccueil/images/supprimer.jpeg') }}" alt="supprimer" />
                        </a>
                    </td>
                </tr>
            {% endfor %}        
        </tbody>
    </table>
</div>  
<div class="span2">
    Filtre à faire
</div>